

@import "bootstrap-main";
@import "mixins/font-awesome.min";

@import "themes/evento";

@import "components/layout";
@import "components/dashboard";
@import "components/scoreboard";
@import "components/header";
@import "components/footer";







